$cor1:hsl(31, 66%, 93%);
$cor2 :hsl(39, 100%, 71%);
$cor3:hsl(256, 67%, 59%);
$cor4: hsl(0, 0%, 100%);
$cor5: hsl(39, 100%, 71%);
$cor6: hsl(0, 0%, 100%);
$cor7: hsl(254, 88%, 90%);
$cor8:hsl(256, 67%, 59%);


.dm-sans {
    font-family: "DM Sans", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }